<h1>Listing Result</h1>
<table>
  <tr>
    <th>Student RollNumber</th>
	<th>Subject</th>
	<th>Marks</th>
  </tr>
 
  <% @result.each do |result| %>
    <tr>
      <td><%= result.user.rollnumber %></td>
	  <td><%= result.sname %></td>
	  <td><%= result.marks %></td>
    </tr>
  <% end %>
</table>
<% if current_user.role == 'teacher'%>
	<%= link_to 'New Result', new_result_path %>
<%end%>