<h1>New Student</h1>
<%= form_for :student, url: student_create_results_path do |f| %>
<%= render 'form', f: f %>
<% end %>
<%= link_to 'All Students', headmaster_login_results_path, :class => 'btn btn-info' %>