<h1 class="text-center">Welcome<%= @name %></h1>
<p><%= link_to('Add a Subject', new_subject_path, :class => 'btn btn-info') %> </p>
<p><%= link_to('Add the Result', new_result_path, :class => 'btn btn-info') %> </p>