<h1>New SUBJECT</h1>
<%= render 'form' %>
<p><%= link_to 'All Subjects', subjects_path, :class => 'btn btn-info' %></p>
<% if current_user.role == 'teacher'%>
<p><%= link_to('My Home', teacher_login_results_path, :class => 'btn btn-info')  %></p>
<%elsif current_user.role == 'head_master'%>
<p><%= link_to('My Home', headmaster_login_results_path, :class => 'btn btn-info')  %></p>
<%end%>